* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.header .description {
  text-align: center;
  margin-top: 50px;
  line-height: 1.8;
}
.header .description h2 {
  font-weight: 400;
  font-size: 1.75em;
  color: #648880;
}
.header .description p {
  color: #fff;
  color: #648880;
  font-weight: 300;
  width: 80%;
  margin: 0 auto;
}
.header .description button {
  padding: 15px 25px;
  color: #fff;
  background-color: #648880;
  border: 1px solid #fff;
  font-size: 1.15em;
  margin: 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header .description button:hover {
  color: #648880;
  background-color: #fff;
}
/*end header*/
/*start main section*/
.main {
  margin: 50px 0 70px;
}
.main .container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 35px;
  background-color: #fff;
}

.main .container .section h3 {
  font-size: 0.7em;
  text-transform: uppercase;
}
.main .container .section h3,
.main .container .section h2 {
  font-weight: 300;
  padding: 20px 0;
  color: #777;
}
.main .container .section img {
  width: 100%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.main .container .section img {
  cursor: pointer;
}
.main .container .section h2 {
  font-size: 1em;
  cursor: pointer;
}
.main .container .section h2 a {
  text-decoration: none;
  color: #666;
}
.main .container .section h2 a:hover {
  color: #648880;
}
.main .container .section p {
  color: #666;
  font-size: 0.7em;
  line-height: 1.4;
}

/*end main section*/
