/*srart map*/
.map {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 50px auto !important;
}
.map .col-1-3 h2 {
  color: #648880;
  font-weight: 100;
}
.map .col-1-3 p {
  color: #888;
  font-size: 0.75em;
  padding: 15px 0 0;
}
.map .col-1-3 p a {
  color: #888;
  text-decoration: none;
  border-bottom: 1px solid #dfe2e5;
}
.map .col-2-3 {
  height: 264px;
  width: 100%;
}
.main .col-2-3 iframe {
  border-width: 10px;
}
/* end map */